body{background: #6E89A4;
    background: -moz-radial-gradient(center, #6E89A4 0%, #696A75 100%);
    background: -webkit-radial-gradient(center, #6E89A4 0%, #696A75 100%);
    background: radial-gradient(ellipse at center, #6E89A4 0%, #696A75 100%);
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.fiveday{
    display:flex;
    align-items: center;
}

.forecast{
    padding:0.3em;
}

.weather-icon{
    width:70px;
    height:60px;
}
