body{background: #95A0A4;
    background: -moz-radial-gradient(center, #95A0A4 0%, #484475 100%);
    background: -webkit-radial-gradient(center, #95A0A4 0%, #484475 100%);
    background: radial-gradient(ellipse at center, #95A0A4 0%, #484475 100%);
}